html,
body {
    margin: 0px;
    height: 100vh;
    width: 100%;
    background-image: url("./images/starspretty.jpg");
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}

#content {
    position: absolute;
    z-index: 90;
    width: 600px;
    height: 800px;
    border: 2px solid rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(62, 23, 0);
    background: rgb(0, 0, 0) url("./images/diarypage.png") 0% 0% / 100% 100% no-repeat local;
    font-size: 11pt;
    font-family: "Times New Roman";
    text-align: center;
    font-weight: normal;
    font-style: normal;
    text-decoration-line: none;
}

#header-image {
    position: absolute;
    left: -70px;
    top: -30px;
    width: auto;
    height: auto;
    z-index: 90;
    border: 0px solid rgb(0, 0, 0);
}

.content-title {
    z-index: 90;
    width: auto;
    height: 48px;
    border: medium none;
    position: relative;
    overflow-wrap: break-word;
    display: block;
    margin: 52px;
    min-width: 7px;
}

.content-text {
    z-index: 90;
    width: auto;
    height: auto;
    border: medium none;
    overflow-wrap: break-word;
    display: block;
    margin: 41px;
}

.link {
    z-index: 90;
    border: 0px solid rgb(0, 0, 0);
    display: inline-block;
    color: rgb(64, 0, 0);
}

#id_1685220657139 {
    width: auto;
    height: 100px;
    z-index: 90;
    border: 0px solid rgb(0, 0, 0);
}

#id_1685220709790 {
    z-index: 90;
    width: auto;
    height: auto;
    border: medium none;
    position: relative;
    overflow-wrap: break-word;
    display: block;
    margin: 0px;
    font-size: 15pt;
    font-family: "Times New Roman";
    text-align: center;
    font-weight: normal;
    font-style: normal;
    text-decoration-line: none;
}

#id_1685221014330 {
    z-index: 90;
    width: 150px;
    height: 150px;
    border: 0px solid rgb(0, 0, 0);
}

#id_1685221068466 {
    width: auto;
    height: 100px;
    z-index: 90;
    border: 0px solid rgb(0, 0, 0);
}

#id_1685221117502 {
    z-index: 90;
    width: auto;
    height: auto;
    border: medium none;
    position: relative;
    overflow-wrap: break-word;
    display: block;
    margin: 0px;
    font-size: 15pt;
}

#id_1685221326718 {
    z-index: 90;
    width: 150px;
    height: 150px;
    border: 0px solid rgb(0, 0, 0);
    color: rgb(128, 0, 0);
    font-size: 15pt;
    text-decoration-line: none;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-family: "Times New Roman";
}

.link-image {
    width: auto;
    height: 100px;
    z-index: 90;
    border: 0px solid rgb(0, 0, 0);
}

.link-name {
    font-size: 15pt;
}

#id_1685221496679 {
    z-index: 90;
    width: auto;
    height: auto;
    border: medium none;
    position: relative;
    overflow-wrap: break-word;
    display: block;
    margin: 0px;
}

#id_1685221601397 {
    z-index: 90;
    width: 150px;
    height: 150px;
    border: 0px solid rgb(0, 0, 0);
}

#id_1685221633801 {
    width: 152px;
    height: 102px;
    z-index: 90;
    border: 0px solid rgb(0, 0, 0);
}

#id_1685221683878 {
    z-index: 90;
    width: auto;
    height: auto;
    border: medium none;
    position: relative;
    overflow-wrap: break-word;
    display: inline-block;
    font-size: 15pt;
}

#id_1685221759585 {
    z-index: 90;
    width: auto;
    height: auto;
    border: medium none;
    position: relative;
    overflow-wrap: break-word;
    display: inline-block;
}

#construction-warning {
    background-color: #f2f2f230;
    text-align: center;
    padding: 10px;
    /* Stick the footer to the bottom of the page */
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}